# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\First_Time_Spring_boot2\jpa-basic\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
